.roadMap_container {
    display: flex;
    flex-direction: row;
}

.roadMap_left_container {
  width: 1200px;
  max-width: 100%;
  margin: 40px 40px;
  min-height: 100vh;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #d5dbdb;
  border-radius: 16px;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}   

.roadMap_left_content{
 display: flex;
 justify-content: center;
}
.roadMap_left_content img{
  width: 80%;
  height: 50%;
}