.aws_container {
    display: flex;
}
.aws {
  height: 100%;
  width: 300px;
  background-color: #ffffff; 
  border-right: 1px solid #d5dbdb;
  border-bottom: 1px solid #d5dbdb;
  padding: 50px 16px  25px 16px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.navButton {
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  background-color: #edf2f7;
  border: 1px solid #cbd5e0;
  color: #2d3748;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
   transition: 0.25s;
}

.navButton:hover {
background-color: #f0f6ff; 
  color: #0052cc;
  font-weight: 600;
  border-left: 4px solid #0052cc;
}

.activeButton {
  background-color: #f0f6ff;
  color: #0052cc;
  font-weight: 600;
  border-left: 4px solid #0052cc;

}


.aws_left_content{
  width: 1200px;
  max-width: 100%;
  margin: 40px 40px;
  height: 100vh;
  background-color: #ffffff; 
  border: 1px solid #d5dbdb;
  border-radius: 16px;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
