.home_container {
  display: flex;
  flex-direction: row;
}

.home_left_container {
  width: 1200px;
  max-width: 100%;
  margin: 40px 40px;
  height: 95vh;
  background-color: #ffffff;
  border: 1px solid #d5dbdb;
  border-radius: 16px;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

.home_left_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
