.progress_container {
  display: flex;
  flex-direction: row;

}

.progress_left_content {
  width: 1200px;
  max-width: 100%;
  margin: 40px 40px;
  height: 100vh;
  background-color: #ffffff; 
  border: 1px solid #d5dbdb;
  border-radius: 16px;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
