.sidebar_container {
    display: flex;
}
.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #ffffff; /* gray-900 */
  border-right: 1px solid #d5dbdb;
  /* color: white; */
  padding: 50px 16px  16px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.navButton {
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  background: transparent;
  border: 1px solid black;
  border-radius: 12px;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease;
}

.navButton:hover {
  background-color: #374151; /* gray-700 */
  color: white;
}


