.buttonPrimary {
  background: var(--aws-blue);
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.buttonPrimary:hover {
  background: #065aab;
}

.container {
  background:  #ffffff;
  max-width: 1200px;
  width: 100%;
  height: 1200px;
  /* height: 100%; */
  margin: 100px auto;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #d5dbdb; /* тонкая AWS граница */
    box-shadow: 0 1px 2px rgba(0,0,0,0.08); /* фирменная маленькая тень */

}